
<div id="body">
    <app-nemu-bar></app-nemu-bar>
 
    <main>
       <div class="container-fluid">
     <div class="card">
        <div class="card-header" style="background: brown;color: white;">Retrait</div>
        <div class="card-body">
           <form class="form">
              <label >Rib</label>
              <input class="form-control mb-2" type="text" placeholder="RIB" />
              <label>Montant</label>
              <input  class="form-control mb-2" type="text" placeholder="0.00 DH" />
              
              
              <input type="submit" class="mt-4 w-100 btn btn-outline-dark" value="Valider"/>
           </form>
        </div>
     </div>
  </div>
  </main>
  </div>
